.board{
    grid-template-columns: auto auto auto auto;
    display: grid;
    position: relative;
    padding: 5px;    
    background: #27b;
    width: 450px;
    height: 450px;
    margin: 0 auto;
    margin-top: 5px;
}